html {
  font-size: 10px;
  font-family: "desigers", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #eb88f8;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: ;
  padding: 0 700px 0px 500px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #350c96;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
}
